.algorithm
    background: $beige
    padding: 9.375rem 0
    .col
        &:first-of-type
            max-width: 33.4375rem
    &__upper-title
        margin-bottom: 0.625rem
    &__title
        max-width: 19.1875rem
        